@model Cliente
@{ ViewData["title"] = "Cadastro de Cliente"; }

<style>
    .background {
        background-color: #f7f6f6;
        border-radius: 7px;
        padding: 2%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inputLabel {
        min-width: 40%;
    }
</style>

@if (@TempData["msg"] != null)
{
    <div class="alert alert-success">
        <h5 class="text-center">@TempData["msg"]</h5>
    </div>  
}

<h2 class="text-center">Cadastro de Cliente</h2>

<form asp-action="Cadastrar">
    <div class="background container-fluid">
        <div class="form-group">
            <label asp-for="Nome" class="inputLabel">Cliente</label>
            <input asp-for="Nome" class="form-control" />
            <div>
                <label asp-for="Cpf" class="inputLabel">CPF</label>
                <input asp-for="Cpf" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email" class="inputLabel mt-1">E-mail</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Telefone" class="inputLabel mt-1">Telefone</label>
                <input asp-for="Telefone" class="form-control" />
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Cadastrar Cliente" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info">Clientes</a> <br />
            </div>
        </div>
    </div>
</form>