@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Bem-vinde!</h1>
    <p>A Dimdim é uma empresa comprometida, séria e familiar. Estamos aqui para te oferecer o melhor serviço possível de forma facilitada e prática. Esperamos que nossa aplicação supra todas as suas necessidades. Obrigado por contar conosco!</p>

    <img width="400" src="~/img/banco.png" />
    <div class="mt-5">
        <a asp-action="Cadastrar" asp-controller="Cliente" class="btn btn-info">Cadastrar Cliente</a>
        <a asp-action="Cadastrar" asp-controller="Conta" class="btn btn-outline-info">Cadastrar Conta</a>
    </div>

</div>
